@charset "UTF-8";

@media screen and ( min-width: 768px) and ( max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        width: 30%;
        float: left;
        height: 100%;
    }

    section#login > div#formulario{
        width: 70%;
        float: right;
    }
}

@media screen and ( min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 900px;
    }

    section#login > div#imagem{
        width: 40%;
        float: right;
        height: 100%;
    }

    section#login > div#formulario{
        width: 50%;
        float: left;
    }
}