@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

/* Estilo global */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

/* Estilo do corpo */
main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* Estilo do conteúdo */
section#login{
    width: 250px;
    height: 500px;
    border-radius: 15px;
    background-color: #f4f7ea;
    box-shadow: 0px 0px 12px #00000052;

    top: 50%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);

    transition-timing-function: ease;
    transition: width 0.3s, height 0.3s;
}

section#login > div#imagem{
    height: 200px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../imagens/pexels-sean-whang-25006-804269.jpg);
}

section#login > div#formulario{
    padding: 12px;
    display: block;
    width: 240px;
}

div#formulario h1{
    text-align: center;
    padding-bottom: 10px;
}

div#formulario p{
    font-size: 0.8em;
}